.card{
  width: 160px;
  height: 160px;
  border-radius: 2px;
  margin: 5px;
  border: 1px solid gray;
  @media(min-width: 660px){
    width: 180px;
    height: 180px;
  }
  // @media(min-width: 1200px){
  //   min-width: 250px;
  //   min-height: 250px;
  // }
}

.card-image{
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  min-height: 160px; 
  min-width: 160px; 
  @media(min-width: 660px){
    width: 180px;
    height: 180px;
  }
  // @media(min-width: 1000px){
  //   min-width: 250px;
  //   min-height: 250px;
  // }
}

.card-bottom{
  @include flex-center();
  justify-content: flex-start;
  color: white;
  padding: 10px 8px;
  position: relative;
  bottom: 38px;
  background-color: rgba(0,0,0,0.5);
}

.card:hover::after {
  content: attr(data-textafter);
  position: absolute;
  width: 140px;
  height: 140px;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  z-index: 1;
  @include flex-center();
  // bottom: 228px;
  // opacity: 0.9;
  @media (min-width: 660px){
    width: 160px;
    height: 160px;
  }
}

.card > * {
  z-index: 100;
}