.card{
  width: 160px;
  height: 160px;
  border-radius: 2px;
  margin: 5px;
  @media(min-width: 660px){
    width: 180px;
    height: 180px;
  }
}

.card-image{
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  min-height: 160px; 
  min-width: 160px;
  @media(min-width: 660px){
    width: 180px;
    height: 180px;
  }
}

.card-bottom{
  @include flex-center();
  justify-content: flex-start;
  color: white;
  padding: 10px 8px;
  position: relative;
  bottom: 40px;
  background-color: rgba(0,0,0,0.5);
  @media (min-width: 660px){
    bottom: 38px;
  }
}

.card:hover:not(.add-box):not(.home)::after {
  @include flex-center();
  content: attr(data-textafter);
  position: absolute;
  margin: -130px 0;
  width: 140px;
  padding: 10px;
  color: white;
  height: 70px;
  background-color: rgba(0,0,0,0.8);
    
    @media (min-width: 660px){
      width: 160px;
      height: 80px;
      margin: -137px 0;
    }
}

.card > * {
  z-index: 100;
}

.card:hover:not(.home){
  .card-bottom{
    opacity: 0;
  }
}

.add{
  height: 50%;
  background-color: rgb(176, 176, 176);
  @include flex-center();
  justify-content: flex-start;
  width: 160px;
  i {
    font-size: 50px;
    margin: 0 10px 0 10px;
    @media(min-width: 660px){
      font-size: 70px;
      margin: 0 10px 0 20px;
    }
  }
  @media(min-width: 660px){
    p{
      margin-bottom: 0;
    }
  }
}
.profile-add i{
  font-size: 60px;
  margin: -10px 10px 0 10px;
}
.profile-add div{
  margin-top: 3px;
  justify-content: flex-start !important;
}

.add:nth-of-type(1){
  background-color: gray;
  color: rgb(232, 232, 232);
}
.add:hover{
  color: $yellow;
}

.unlogged{
  height: 160px;
  @include flex-center();
  @media(min-width: 660px){
    height: 180px;
  }
  div{
    @include flex-center();
    width: 80%;
  }
}