@import './variables.scss';
@import './card.scss';
@import './navbar.scss';
@import './footer.scss';
@import './register-login.scss';
@import './profile-city.scss';

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
  &:hover{
    color: $blue;
  }
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
  }


body{
  margin: 0;
}
.page-container{
  min-height: 100vh;
  @include flex-center();
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

.grid-container{
  @include flex-center();
  flex-direction: column;
}

.hero{
  background-image: url('https://media.istockphoto.com/id/517274282/photo/rocky-island-in-a-fjord-of-sweden.jpg?s=612x612&w=0&k=20&c=QNeFc7iONnj5mF9xpkYn5MTwlbWeHqmBurM_PJRmnAo=');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 40vh;
  @include flex-center();
  align-items: flex-start;
  h1{
    width: 100%;
    margin-top: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
.hero::after{
  content: '';
  height: 40vh;
  width: 100%;
  position: absolute;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 660px){
  .hero{
    background-image: url('../images/solaregg.jpg');
    background-position: bottom;
    height: 70vh;
    h1{
      margin-top: 120px;
      text-align: right;
      padding-right: 20vw;
    }
  }
  .hero::after{
    height: 70vh;
  }
}

.card-container{
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  @media(min-width: 660px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media(min-width: 1200px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.button{
  padding: 10px 20px;
  border-radius: 3px;
  border: 0.5px solid black;
}

input {
  font-size: 16px;
}