@import './variables.scss';

nav{
  @include flex-center();
  width: 100vw;
  height: 50px;
  background-color: rgb(48, 112, 91);
  background-color: $blue;
  a{
    color: white;
    &:hover{
      color: $yellow;
    }
  }
  .margin{
    margin-right: 30px;
  }

  .nav-container{
    @include flex-center();
    justify-content: space-between;
    width: 80%;
    max-width: 1400px;
  }
}