@import './variables.scss';

nav{
  @include flex-center();
  width: 100vw;
  height: 50px;
  background-color: $blue;
  a{
    color: white;
    &:hover{
      color: $yellow;
    }
  }
  .margin{
    margin-right: 30px;
  }

  .nav-container{
    @include flex-center();
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
    @media (min-width: 660px){
      width: 80%;
    }
  }
  .flex{
    @include flex-center();
    .profile-image{
      width: 30px;
      height: 30px;
      margin: 0;
    }
    .brand{
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
}
