@import './variables.scss';


.profile-page{
  @include flex-center();
  width: 100vw;
  min-height: 70vh;
  align-items: flex-start;

  .profile-container{
    @include flex-center();
    flex-direction: column;
    width: 90%;
    @media(min-width: 660px){
      width: 80%;
    }
  }

  .profile-top{
    @include flex-center();
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0 30px;
  }
  
  .profile-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media(min-width: 660px){
      height: 100px;
      width: 100px;
    }
  }

  .profile-section{
    min-height: 100px;
    max-height: 450px;
    width: 100%;
    padding: 20px 0;
    overflow: scroll;
    div {
      &:not(.tabs){
        padding-bottom: 10px;
      }
    }
  }

  .edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // height: 350px;

    .card-container{
      margin-top: 0;
    }

    form {
      @include flex-center();
      flex-direction: column;
      margin: 20px 0;
    }
  }


  .city-top{
    @include flex-center();
    flex-direction: column;
    // width: 100%;
    padding: 20px 0 0;
    @media(min-width: 750px){
      padding-bottom: 30px;
      flex-direction: row;
      justify-content: flex-start;
    }

    .city-image{
      height: 90vw;
      width: 90vw;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media(min-width: 750px){
        height: 450px;
        width: 450px;
        margin-right: 30px;
      }
    }

    .text{
      @media(min-width: 660px){
        width: 50%;
        max-width: 300px;
        height: 450px;
      }
      @media(min-width: 1200px){
        max-width: 400px;
      }
      @media (max-width: 750px){
        width: 90vw;
        max-width: 750px;
      }

    }
  }
}


.tabs-container{
  @media(max-width: 660px){
    @include flex-center();
  }

  .tabs{
    height: 50px;
    padding: 0 20px;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    @include flex-center();
    text-align: center;
    &:hover{
      &:not(.active){
        color: $blue;
      }
    }
  }
  .active{
    background-color: $blue;
    color: white;
  }
}

div{
  .edit-delete{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 40px;
    div{
      @include flex-center();
      background-color: rgba(255, 255, 255, 1);
      border-radius: 3px;
      height: 30px;
      width: 30px;
    }
  }
}
  
.delete-modal{
  height: 30vh;
  width: 90vw;
  background-color: rgba(0, 0, 0, 0.98);
  color: white;
  position: absolute;
  z-index: 3;
  @include flex-center();
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  @media(min-width: 660px){
    height: 30vh;
    width: 60vw;
  }

  .modal-container{
    @include flex-center();
    width: 90%;
  }
    .button-container{
      @include flex-center();
      justify-content: space-between;
      width: 90%;
    }
    .button-sm{
      background-color: white;
      padding: 10px 15px;
      border-radius: 3px;
      color: black;
      &:nth-child(2){
        color: red;
      }
    }
}

.attraction-content{
  @include flex-center();
  align-items: flex-start;
  flex-direction: column;
  padding: 60px 20px 20px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  height: 100%;
}
.attraction-card:hover::after {
  position: absolute;
  margin: -120px 0;
  width: 140px;
  height: 120px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  
  @media (min-width: 660px){
    width: 160px;
    height: 110px;
    margin: -130px 0;
  }
}

.user-attractions{
  @include flex-center();
  justify-content: flex-start;
  .profile{
    background-position: center; 
    background-size: cover; 
    width: 30px; 
    height: 30px; 
    border-radius: 50px;
    margin-right: 10px; 
  }
}

.city-bottom-container{
  margin-bottom: 50px;
  width: 100%;
  
  @media (min-width: 660px){
    padding: 20px 0;
  }
  .city-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 5px;
    @media(min-width: 660px){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}