@import './variables.scss';


.profile-page{
  @include flex-center();
  width: 100vw;
  min-height: 70vh;
  align-items: flex-start;

  .profile-container{
    @include flex-center();
    flex-direction: column;
    width: 90%;
    @media(min-width: 660px){
      width: 80%;
    }
  }

  .profile-top{
    @include flex-center();
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0 30px;
  }
  
  .profile-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 30px;
    @media(min-width: 660px){
      height: 100px;
      width: 100px;
    }
  }

  .profile-section{
    min-height: 100px;
    width: 100%;
    padding: 20px 0;
    div {
      padding-bottom: 10px;
      border-bottom: 1px solid gray;
    }
  }


  .city-top{
    @include flex-center();
    flex-direction: column;
    width: 100%;
    padding: 20px 0 30px;
    @media(min-width: 750px){
      flex-direction: row;
      justify-content: flex-start;
    }

    .text{
      width: 100%;
      @media(min-width: 750px){
        width: auto;
        height: 450px;
        padding-top: 40px;
      }
    }
  }

  .city-image{
    height: 90vw;
    width: 90vw;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media(min-width: 750px){
      height: 450px;
      width: 450px;
      margin-right: 30px;
    }
  }


}
