@import './variables.scss';


.profile-page{
  @include flex-center();
  width: 100vw;
  min-height: 90vh;
  align-items: flex-start;
  padding-bottom: 40px;

  .profile-container{
    @include flex-center();
    flex-direction: column;
    width: 90%;
    @media(min-width: 660px){
      width: 80%;
    }
  }

  .profile-top{
    @include flex-center();
    justify-content: flex-start;
    width: 100%;
    padding: 50px 0 30px;
  }
  
  .profile-image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media(min-width: 660px){
      height: 100px;
      width: 100px;
    }
  }

  .profile-section{
    width: 100%;
    margin: 20px 0;
    overflow: scroll;
    div {
      &:not(.tabs){
        padding-bottom: 10px;
      }
    }
  }

  .edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .profile-first-tab{
      margin-top: 30px;
      .add-box, div{
        @include flex-center();
        width: 160px;
      }
      .add-box{
        height: 120px;
      }
      .first-tab-boxes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      .card.add-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        .add{
          height: 50px;
          @media (max-width: 660px){
            i {
              margin-top: 2px;
              font-size: 30px;
            }
          }
        }
      }
    }

    .button, form{
      margin-top: 30px;
    }

    .card-container{
      margin-top: 0;
    }

    form {
      @include flex-center();
      flex-direction: column;
      border: 1px solid gray;
      padding: 10px;
    }
  }


  .city-top{
    @include flex-center();
    flex-direction: column;
    padding: 20px 0 0;
    width: 80%;
    @media(min-width: 750px){
      padding-bottom: 30px;
      flex-direction: row;
      justify-content: flex-start;
      width: 80vw;
      justify-content: space-between;
    }

    .city-image{
      height: 90vw;
      width: 90vw;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media(min-width: 750px){
        height: 570px;
        width: 570px;
        margin-right: 30px;
      }
    }

    .text{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media(min-width: 660px){
        width: 50%;
        height: 560px;
        h2 {
          margin-top: 5px;
        }
        h3 {
          margin: 8px 0 10px;
        }
      }
      @media (max-width: 750px){
        width: 90vw;
      }

    }
  }
  .city-top, .city-bottom-container, .profile-container, .profile-first-tab{
    max-width: 1400px;
    margin: 0 auto;
  }
}


.tabs-container{
  align-items: flex-end;
  border-bottom: 1px solid lighten($blue, 30%);

  .tabs{
    height: 50px;
    padding: 0 20px;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    @include flex-center();
    text-align: center;
    background-color: lighten($blue, 40%);
    &:hover{
      &:not(.active){
        color: $blue;
      }
    }
  }
  .active{
    background-color: $blue;
    color: white;
  }
}

div{
  .edit-delete{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 40px;
    div{
      @include flex-center();
      background-color: rgba(255, 255, 255, 1);
      border-radius: 3px;
      height: 30px;
      width: 30px;
    }
  }
}
  
.delete-modal{
  top: 30vh;
  width: 95vw;
  color: white;
  position: fixed;
  z-index: 100;
  @include flex-center();
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  .delete-modal-inner{
    height: 30vh;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 3px;
    @include flex-center();
    flex-direction: column;
    justify-content: space-evenly;
    @media (min-width: 800px){
      width: 50vw;
    }
  }
  .edit {
    background-color: $blue;
  }
  .modal-container{
    @include flex-center();
    width: 90%;
  }
    .button-container{
      @include flex-center();
      justify-content: space-between;
      width: 90%;
      max-width: 350px;
    }
    .button-sm{
      background-color: white;
      padding: 10px 15px;
      border-radius: 3px;
      color: black;
      &:nth-child(2){
        color: red;
      }
    }
}

.user-attractions{
  @include flex-center();
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  .profile{
    background-position: center; 
    background-size: cover; 
    width: 30px; 
    height: 30px; 
    border-radius: 50px;
    margin-right: 10px; 
  }
  :nth-child(1){
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }
}
.attraction-comment {
  p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
  }
}

.city-bottom-container{
  margin-bottom: 50px;
  width: 100%;
  
  @media (min-width: 660px){
    padding: 20px 0;
  }
  .city-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 15px;
    @media(min-width: 660px){
      grid-template-columns: 1fr 1fr 1fr;
    }
    .comment-boxes{
      padding-top: 20px;
      border-top: 1px solid $blue;
    }
  }
}
.attraction-image {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 200px; 
  width: 100%;
}
.city-attraction-cards:hover{
  color: $blue;
}

.image-box{
  @include flex-center();
  flex-direction: column; 
  border: 1px solid rgb(118, 118, 118);
  border-radius: 3px;
  width: 220px;
  padding: 10px 0;
  margin: 5px 0 10px;
  p{
    margin: 10px 0;
  }
  .input{
    width: 200px;
    height: 25px;
    margin: 10px 0;
  }
}

.mapboxgl-ctrl-bottom-right {
  right: 0;
  bottom: 0;
  display: none
}
.mapboxgl-popup-content{
  h3{
    margin: 5px 0;
  }
  p {
    margin: 0 0 5px;
  }
}