@import './variables.scss';

.register{
  @include flex-center();
  padding: 40px 10px;
}

.register-border{
  border: 1px solid gray;
  padding: 20px 0;
  width: 90vw;
  max-width: 400px;
  @include flex-center();

  form{
    @include flex-center();
    flex-direction: column;

    input, button, select, textarea{
        &:not(textarea) {
          height: 40px;
        }
        width: 220px;
        margin: 5px 0;
        padding-left: 10px;
    }
    textarea{
      padding-top: 10px;
    }
  }
}

.city-form{
  @media (min-width: 660px){
    .select{
      height: 70px;
      option{
        margin: 2px 0;
      }
      .big-option{
        margin: 10px 0;
        background-color: white;
      }
    }
  }

}

.register-link a{
  color: gray;
  text-align: center;
  p{
    margin: 0;
  }
}

.unauthorized{
  color: rgb(214, 0, 0);
}