@import './variables.scss';

.register{
  @include flex-center();
  height: 90vh;
  padding: 0 10px;
}

.register-border{
  border: 1px solid gray;
  height: 450px;
  width: 90vw;
  max-width: 400px;
  @include flex-center();

  h1{
    margin-bottom: 40px;
  }

  form{
    @include flex-center();
    flex-direction: column;

    input, button, select{
        height: 40px;
        width: 220px;
        margin: 5px 0;
        padding-left: 10px;
    }
  }
}

.city-form{
  height: 550px;
}

.attraction{
  height: 350px;
}